@tailwind base;
@tailwind components;
@tailwind utilities;

.range {
  -webkit-appearance: none;
  background: theme("colors.gray.200");
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px theme("colors.gray.200");
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: theme("colors.kashmir-blue.500");
  cursor: pointer;
  border: 4px solid theme("colors.white");
  box-shadow: -407px 0 0 400px theme("colors.kashmir-blue.500");
}

body {
  background: theme("colors.gray.100");
}

.right-sidebar {
    direction: rtl;
}

.normal-direction {
  direction: initial;
}

.shine:after {
	content:'';
  top:-180%;
	transform:translateX(100%) rotate(90deg);
	width:100%;
	height: 250%;
	position: absolute;
	z-index:1;
	animation: slide 3s infinite 2s;
  background: linear-gradient(to right, rgba(255,255,255,0) 20%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 60%);
}

@keyframes slide {
	0% {transform:translateX(-100%) rotate(45deg);}
	50% {transform:translateX(100%) translateY(100%) rotate(45deg);}
  100% {transform:translateX(100%) translateY(100%) rotate(45deg);}
}
