NEXT_PUBLIC_JUNO_FACTORY_ADDRESS=juno1v6tdfdrumdcjl0zgpxja03as0em7wvg7ul963qn4c7gnxk66q3yss8cg8h
NEXT_PUBLIC_INJECTIVE_FACTORY_ADDRESS=inj1l2leckq7ja230m3ppttzx9962as5dhez2lwkx7
NEXT_ENV=local
NEXT_PUBLIC_SENTRY_DSN=