NEXT_PUBLIC_JUNO_FACTORY_ADDRESS=juno1v6tdfdrumdcjl0zgpxja03as0em7wvg7ul963qn4c7gnxk66q3yss8cg8h
NEXT_PUBLIC_JUNO_PLUGIN_REGISTRY_ADDRESS=juno1qqscw9pwhmfq0fsmva8ff87zxwp3jqve2stccvp7ylyku22mz2kqha3grt
NEXT_PUBLIC_INJECTIVE_FACTORY_ADDRESS=inj1l2leckq7ja230m3ppttzx9962as5dhez2lwkx7
NEXT_PUBLIC_INJECTIVE_PLUGIN_REGISTRY_ADDRESS=inj18z24yvp308frl6t04jq7gg8avmm8m3fnp0u6nk
NEXT_ENV=local
NEXT_PUBLIC_SENTRY_DSN=